 /* toogler */

 #docsify-darklight-theme {
	border: none;
	background-color: transparent;
	position: absolute;
	right: -13px;
    top: 75px;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-image: var(--toogleImage);
	-o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size:cover;
    background-size: cover;
	cursor: pointer;
	transition: background-image .15s ease-in-out .15s
}
